<!DOCTYPE html>
<html lang="{{ meta.language }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ meta.siteDescription }}">
        <meta name="theme-color" content="{{ meta.themeColor }}">
        <link rel='icon' type='image/x-icon' href='/favicon.ico'/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css"
            integrity="sha512-tN7Ec6zAFaVSG3TpNAKtk4DOHNpSwKHxxrsiw4GHKESGPs5njn/0sMCUMl2svV4wo4BK/rCP7juYz+zx+l6oeQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"/>
        <link rel="stylesheet" href="{{ '/css/custom.css' }}">
        <link rel="stylesheet" href="{{ '/css/style.css' }}">
        <title>
            {% if page.fileSlug %}
                {{ title }} -
            {% endif %}
            {{ meta.siteName }}</title>
    </head>
    <body class="page-{% if page.fileSlug %}{{ page.fileSlug }}{% else %}home{% endif %}">
        <header class="bg-theme color-theme">
            <div class="container pt-4 pb-1">
                <h1 class="text-nowrap text-uppercase">
                    {% if category %}
                        {{ category | capitalize }} -
                    {% endif %}
                    {% if page.fileSlug %}
                        {{ title }}
                    {% else %}
                        {{ meta.siteName }}
                    {% endif %}
                </h1>
                {% include "breadcrumbs.njk" %}
            </div>
        </header>
        <main class="container pt-4">
            {{ content | safe }}
        </main>
        <footer class="mt-auto py-5">
            <div class="container">
                <p class="text-muted">Kursen och sidans innehåll &copy; {% year %}
                    {{ meta.author.name }}.</p>
                <p class="text-muted">Sidan är skapad av Jens Andreasson utifrån Kaj Schmidts pedagogiska funderingar.</p>
                <p class="text-muted">En mall att bygga från finns på
                    <a class="text-reset" href="https://github.com/jensnti/">GitHub.</a>
                </p>
            </div>
        </footer>
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    </body>
</html>