{% set currentPage %}{{ page.fileSlug }}{% endset %}
{% set navPages = collections.all | eleventyNavigation(currentPage) %}
{% macro renderNavListItem(entry, index) %}
    <div class="col mb-3">
        <div class="card">
            <div class="card-header bg-theme">
                <h3 class="card-title color-theme">{{ index }}. {{ entry.title | capitalize }}</h3>
            </div>
            <div class="card-body">
                <p class="card-text">{{ entry.excerpt }}</p>
                {%- if entry.children.length -%}
                    <ol>
                        {% for child in entry.children %}
                            <li>{{ child.title | capitalize }}</li>
                        {% endfor %}
                    </ol>
                {% endif %}
                <p class="card-text">
                    <a class="btn btn-primary stretched-link" href="{{ entry.url | url }}">{{ entry.title | capitalize }}</a>
                </p>
            </div>
        </div>
    </div>
{% endmacro %}
<div class="row row-cols-1 row-cols-md-2 mt-3">
    {% for entry in navPages %}
        {{ renderNavListItem(entry, loop.index) }}
    {% endfor %}
</div>