---
layout: base.njk
---

{{ content | safe }}

<div class="mt-4 accordion accordion-flush" id="accordion">
    {% set navPages = collections.all | eleventyNavigation(title.toLowerCase()) %}
    {% for entry in navPages %}
        <div class="mt-3 accordion-item">
            <h2 class="accordion-header">
                {# <a class="accordion-link" href="{{ entry.url | url }}">{{ entry.title | capitalize }}</a> #}
                <span class="accordion-link">{{ entry.title | capitalize }}</span>
            </h2>
        </div>
        {% if entry.children.length %}
            {% for child in entry.children %}
                <div class="accordion-item">
                    <h3 class="accordion-header" id="heading-{{ child.title | slug }}">
                        <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#{{ child.title | slug }}"
                            aria-expanded="false"
                            aria-controls="{{ child.title | slug }}">
                            {{ child.title | capitalize }}
                        </button>
                    </h3>
                    <div id="{{ child.title | slug }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ child.title | slug }}" data-bs-parent="#accordion">
                        <div class="accordion-body">
                            {% if child.children.length %}
                                <ul class="list-unstyled">
                                {% for child in child.children %}
                                    <li class="d-flex align-items-center"><a  class="accordion-child" href="{{ child.url | url }}">{{ child.title | capitalize }}</a></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
<script defer src="{{ '/js/home.js' }}"></script>