---
layout: base.njk
---
<span id="area" class="visually-hidden">{{ eleventyNavigation.parent }}</span>
<span class="text-muted">{{ content | emojiReadTime }}</span>

<div class="row mt-2 p-2 bg-white">
    {{ content | safe }}
</div>

{% include "prevnext.njk" %}
<script async defer src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
<script defer src="{{ '/js/assignments.js' }}"></script>