{% set currentPage %}{{ page.fileSlug }}{% endset %}
{% set navPages = collections.all | eleventyNavigation(eleventyNavigation.parent) %}
<nav class="mt-3">
    <ul class="nav justify-content-between w-100">
        {%- set previousPost = navPages | prev(page.url) %}
        <li class="nav-item">
            {%- if previousPost %}
                <a class="nav-link d-flex align-items-center" href="{{ previousPost.url | url }}">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-chevron-left"
                        viewBox="0 0 16 16">
                        <path
                            fill-rule="evenodd"
                            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                    </svg>
                    <span class="ps-2">{{ previousPost.title | capitalize }}</span>
                </a>
            {% endif %}
        </li>
        {%- set nextPost = navPages | next(page.url) %}
        <li class="nav-item">
            {%- if nextPost %}
                <a class="nav-link d-flex align-items-center" href="{{ nextPost.url | url }}">
                    <span class="pe-2">{{ nextPost.title | capitalize }}</span>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-chevron-right"
                        viewBox="0 0 16 16">
                        <path
                            fill-rule="evenodd"
                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1
                                0-.708z"/>
                    </svg>
                </a>
            {% endif %}
        </li>
    </ul>
</nav>